#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# IPython Notebook
.ipynb_checkpoints
*.ipynb
!hmm-test.ipynb

# Models
!models/
models/*
!models/README.md
!models/test/

# Data
data/stress_dict.p
data/syllable_dict.p

# Scripts
scripts/
